<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<div class="row">
    <div class="col-md-11" style="margin-left: 20px">
      <br><br>
      <h3 style="margin-top: 20px">Liste des utilisateurs </h3>
      <hr>
      <br><br>
<table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Adresse Email </th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let u of users'>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td>{{u.password}}</td>
        <td>
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteUser(u.idUser)">Supprimer
            </button>
          </td>
      </tr>
    </tbody>
  </table>


<br>
<br>
<br>
<br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="users">
          <h3>Liste des utilisateurs avec leurs rôles </h3>
          <ul>
            <li *ngFor="let user of users">
              {{ user.username }} - 
              <span *ngFor="let role of user.roles">{{ role.name }}, </span>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="modal-body">
          <div class="mb-3">
            <label for="selectedUserId">Sélectionnez un utilisateur :</label>
            <div class="input-group">
              <select id="selectedUserId" [(ngModel)]="selectedUserId" name="selectedUserId" class="form-control">
                <option *ngFor="let user of users" [value]="user.idUser">{{ user.username }}</option>
              </select>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="selectedRoleId">Sélectionnez un rôle :</label>
            <div class="input-group">
              <select name="selectedRoleId" id="roles" [(ngModel)]="selectedRoleId" name="selectedRoleId" class="form-control">
                <option *ngFor='let role of roles' [value]="role.idRole">{{ role.name }}</option>
              </select>
            </div>
          </div>
        </div>
  
        <button type="button" class="btn btn-outline-primary" (click)="updateUserRole()">Editer le rôle de l'utilisateur</button>
      </div>
    </div>
  </div>
  



</div>
</div>

