<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <br><br>
    <h3 style="margin-top: 20px">Liste des Catégories de Produits </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">AJOUTER UNE NOUVELLE CATEGORIE DE PRODUITS</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Code Categorie</th>
        <th scope="col">Libelle Categorie </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let c of categories'>
        <td>{{c.codeCategorie}}</td>
        <td>{{c.libelleCategorie}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary"
                  (click)="open(mymodal1,c)">Editer
          </button>
          &nbsp;
          <button type="button" class="btn btn-outline-danger"
                  (click)="deleteCategorie(c.idCategorieProduit)">Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fiche Categorie Produit</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="codeCategorie">Code Categorie Produit</label>
        <div class="input-group">
          <input id="codeCategorie" class="form-control" type="text" placeholder="Code Categorie Produit"
                 [(ngModel)]="categorie.codeCategorie"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="libelleCategorie">Libelle Categorie Produit</label>
        <div class="input-group">
          <input id="libelleCategorie" class="form-control" type="text" placeholder="Libelle Categorie Produit"
                 [(ngModel)]="categorie.libelleCategorie"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addCategorie(categorie)"
            (click)="modal1.close('Save click')">Ajouter
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Fermer</button>
  </div>
</ng-template>



 