<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <img src="assets/img/brand/ecommerce.png" height="200" width="200">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <img src="assets/img/brand/sale.png" height="200" width="200">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <img src="assets/img/brand/shopping-online.png" height="200" width="200">
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <img src="assets/img/brand/buy.png" height="200" width="200">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Liste des utilisateurs</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">User Name</th>
              <th scope="col">Adresse Email </th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let u of users'>
              <td>{{u.username}}</td>
              <td>{{u.email}}</td>
              <td>{{u.password}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Liste des produits</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Code Produit</th>
                <th scope="col">Libelle Produit </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let p of produits'>
                <td>{{p.codeProduit}}</td>
                <td>{{p.libelleProduit}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Liste des catégories</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Code Categorie</th>
                <th scope="col">Libelle Categorie </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let c of categories'>
                <td>{{c.codeCategorie}}</td>
                <td>{{c.libelleCategorie}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
